untitled/.idea/copilot.data.migration.agent.xml
untitled/.idea/copilot.data.migration.ask.xml
untitled/.idea/copilot.data.migration.ask2agent.xml
untitled/.idea/copilot.data.migration.edit.xml
untitled/.idea/editor.xml
untitled/.idea/misc.xml
untitled/.idea/modules.xml
untitled/.idea/untitled.iml
untitled/.idea/workspace.xml
.idea/C_SW.iml
.idea/copilot.data.migration.agent.xml
.idea/copilot.data.migration.ask.xml
.idea/copilot.data.migration.ask2agent.xml
.idea/copilot.data.migration.edit.xml
.idea/modules.xml
/.idea
.DS_Store
